<%= render "shared/form_errors", object: profile %>
<%= form_with model: profile, url: user_profile_path(user, profile), html: { multipart: true } do |f| %>

  <div class="form-group mb-2" data-controller="image-preview">
    <div class="d-flex justify-content-between align-items-center text-center">
      <div>
        <h5>Current:</h5>
        <%= render "profiles/picture", profile: profile, size: "100x100" %>
      </div>

      <div class="new-picture-container" data-image-preview-target="newPictureContainer">
        <h5>New: </h5>
        <%= image_tag "", data: { image_preview_target: "newPicture" }, class: "rounded-circle", size: "100x100", alt: "Profile pic" %>
      </div>
    </div>
    <%= f.label :picture %> <br>
    <%= f.file_field :picture, data: { action: "change->image-preview#preview" }, accept: "image/png, image/jpg, image/jpeg, image/gif" %>
  </div>

  <%# Check if a blob exists for the user's current profile picture
  If true, add an option for the user to revert back to their gravatar image %>
  <% if profile.picture.attached? %>
    <div class="form-group mb-2">
      <div class="form-check form-check-inline">
        <%= f.check_box(:default, class: "form-check-input") %>
        <%= f.label(:default, "Default gravatar image", class: "form-check-label") %>
      </div>
    </div>
  <% end %>

  <div class="form-group mb-2">
    <span class="form-group-text">First Name:</span>
    <%= f.text_field :first_name, class: "form-control", placeholder: "Enter First Name..." %>
  </div>

  <div class="form-group mb-2">
    <span class="form-group-text">Last Name:</span>
    <%= f.text_field :last_name, class: "form-control", placeholder: "Enter Last Name..." %>
  </div>

  <div class="form-group mb-2">
    <label class="form-group-text">Gender:</label>
    <div class="form-check form-check-inline">
      <%= f.radio_button :gender, 'Male', class: "form-check-input" %>
      <%= f.label :gender, 'Male', class: "form-check-label" %>
    </div>
    <div class="form-check form-check-inline">
      <%= f.radio_button :gender, 'Female', class: "form-check-input" %>
      <%= f.label :gender, 'Female', class: "form-check-label" %>
    </div>
  </div>

  <div>
    <h4>Contact Information</h4>
    <div class="form-group mb-2">
      <span class="form-group-text">Email</span>
      <%= f.email_field :public_email, class: "form-control", placeholder: "Enter Email.." %>
    </div>

    <div class="form-group mb-2">
      <span class="form-group-text">Phone Number</span>
      <%= f.telephone_field :public_phone_number, class: "form-control", placeholder: "Enter Phone Number..." %>
    </div>
  </div>

  <div class="form-group mb-2">
    <span class="form-group-text">Bio:</span>
    <%= f.text_area :bio_description, size: "7x5", class: "form-control", placeholder: "Tell us about you..." %>
  </div>

  <div class="d-flex justify-content-end align-items-center mt-4" style="gap: 20px;">
    <%= link_to 'Cancel','#', data: { bs_dismiss: 'modal' }, class: 'btn btn-secondary' %>
    <%= f.submit "Update Profile", class: "btn btn-primary" %>
  </div>
<% end %>