<%= render "shared/form_errors", object: profile %>

<%= form_with model: profile, url: user_profile_path(user, profile), html: { class: "profile-form", multipart: true } do |f| %>

  <div class="profile-form__pp-group" data-controller="image-preview">
    <div class="profile-form__pp-wrapper">
      <div class="profile-form__pp">
        <label><i class="fas fa-camera-retro"></i> Profile Picture</label>
        <%= render "profiles/picture", profile: profile, size: "100x100" %>
      </div>

      <div class="new-picture-container profile-form__pp" data-image-preview-target="newPictureContainer">
        <label><i class="fas fa-camera"></i> New Profile Picture</label>
        <%= image_tag "", data: { image_preview_target: "newPicture" }, size: "100x100", alt: "Profile pic" %>
      </div>
    </div>

    <div class="profile-form__input-group--file">
      <label class="profile-form__input-group--file-label" for="profile_picture">
        Upload Profile Picture
        <i class="bi bi-camera-fill"></i>
      </label>
      <%= f.file_field :picture, data: { action: "change->image-preview#preview" }, accept: "image/png, image/jpg, image/jpeg, image/gif" %>
    </div>
  </div>

  <div class="profile-form__pp-group" data-controller="image-preview">
    <div class="profile-form__pp-wrapper">
      <div class="new-picture-container profile-form__pp" data-image-preview-target="newPictureContainer">
        <label style="text-align: center;"><i class="bi bi-image"></i> New Cover Photo</label>
        <%= image_tag "", data: { image_preview_target: "newPicture" }, class: "profile-form__input-group--cover-photo", alt: "Cover Photo" %>
      </div>
    </div>

    <div class="profile-form__input-group--file">
      <label class="profile-form__input-group--file-label" for="profile_cover_photo">
        Upload Cover Photo
        <i class="bi bi-image"></i>
      </label>
      <%= f.file_field :cover_photo, data: { action: "change->image-preview#preview" }, accept: "image/png, image/jpg, image/jpeg, image/gif" %>
    </div>
  </div>

  <%# Check if a blob exists for the user's current profile picture
  If true, add an option for the user to revert back to their gravatar image %>
  <% if profile.picture.attached? %>
    <div class="profile-form__input-group">
      <%= f.check_box(:default, class: "profile-form__input-group--check-input") %>
      <label for="profile_default" class="profile-form__input-group--check-label">
        Default gravatar Image
      </label>
    </div>
  <% end %>

  <div class="profile-form__radio-group-container">
    <label class="profile-form__input-group--radio-group-container--label"><i class="fas fa-user"></i> Gender:</label>
    <div class="profile-form__radio-group">
      <%= f.radio_button :gender, 'Male', class: "profile-form__radio-group--radio" %>
      <%= f.label "gender_male", 'Male', class: "profile-form__radio-group--label" %>
    </div>
    <div class="profile-form__radio-group">
      <%= f.radio_button :gender, 'Female', class: "profile-form__radio-group--radio" %>
      <%= f.label "gender_female", 'Female', class: "profile-form__radio-group--label" %>
    </div>
  </div>

  <div class="profile-form__input-group">
    <label for="profile_public_email" class="profile-form__input-group--label"> <i class="bi bi-envelope-fill"></i> Email:</label>
    <%= f.email_field :public_email, class: "profile-form__input-group--input", placeholder: "Enter Email.." %>
  </div>

  <div class="profile-form__input-group">
    <label for="profile_public_phone_number" class="profile-form__input-group--label"><i class="bi bi-telephone-fill"></i> Phone Number:</label>
    <%= f.telephone_field :public_phone_number, class: "profile-form__input-group--input", placeholder: "Enter Phone Number..." %>
  </div>

  <div class="profile-form__input-group">
    <label for="profile_bio_description" class="profile-form__input-group--label"><i class="bi bi-file-text-fill"></i> About:</label>
    <%= f.text_area :bio_description, size: "7x5", class: "profile-form__input-group--input", placeholder: "Tell us about you..." %>
  </div>

  <div class="modal__footer">
    <%= f.submit "Save Profile", class: "modal__footer--btn-primary" %>
  </div>
<% end %>