<%= turbo_frame_tag "profile_information" do %>
  <div class="profile-body__intro">
    <div class="profile-body__intro-header">
      <h3 class="profile-body__header-intro-title">Intro</h3>
    </div>
    <div class="profile-body__intro-content">
      <% if profile.gender == "Male" %>
        <i class="fas fa-male"></i>
      <% elsif profile == "Female" %>
        <i class="fas fa-female"></i>
      <% else %>
        <i class="fas fa-user"></i>
      <% end %>
      <% if attribute_provided?(profile.gender) %>
        I'm a <span> <%= profile&.gender %></span>
      <% else %>
        <em><small>Not Provided</small></em>
      <% end %>
    </div>
    <div class="profile-body__intro-content">
      <i class="bi bi-envelope-fill"></i>
      <div>
        <% if attribute_provided?(profile.public_email) %>
          You can contact me via email at <span> <%= profile.public_email %></span>
        <% else %>
          <em><small>Not Provided</small></em>
        <% end %>
      </div>
    </div>
    <div class="profile-body__intro-content">
      <i class="bi bi-telephone-fill"></i>
      <div>
        <% if attribute_provided?(profile.public_phone_number) %>
          You can contact me via phone at<span> <%= profile.public_phone_number %></span>
        <% else %>
          <em><small>Not Provided</small></em>
        <% end %>
      </div>
    </div>
    <div class="profile-body__intro-content">
      <i class="bi bi-file-text-fill"></i>
      <%= profile.bio_description %>
      <% unless attribute_provided?(profile.bio_description) %>
        <em><small>Not Provided</small></em>
      <% end %>
    </div>
  </div>
<% end %>