<%= turbo_stream.update("profile_information", partial: "profiles/profile_information", locals: { user: @user, profile: @profile }) %>

<%# User Picture %>
<%= turbo_stream.update_all ".user-profile-picture" do %>
  <button type="button" data-controller="picture-modal modal" data-action="click->picture-modal#showModal click->modal#open">
    <%= render partial: "profiles/picture", locals: { profile: @profile, size: "185x185" }%>
  </button>
<% end %>

<%# Posts Profile Picture %>
<%= turbo_stream.update_all ".post-profile-picture" do %>
  <%= link_to @profile.user, data: { turbo_frame: "_top" } do %>
    <%= render partial: "profiles/picture", locals: { profile: @profile, size: "45x45" } %>
  <% end %>
<% end %>

<%= turbo_stream.update("navbar_picture", partial: "profiles/navbar_picture", locals: { profile: @profile, size: "50x50" }) %>

<%# Cover Photo %>
<%= turbo_stream.update "cover_photo" do %>
  <button type="button" data-controller="picture-modal modal" data-action="click->picture-modal#showModal click->modal#open">
    <%= render partial: "profiles/cover_photo", locals: { profile: @profile, size: "1200x415" } %>
  </button>
<% end %>

<%= render_turbo_stream_flash_messages %>