<div class="registration-container">
  <div class="logo">
    <div class="logo__brand">
      <img class="logo__icon" src="https://placehold.co/70x70" alt="placeholder image">
      <div class="logo__name">Odin-Facebook</div>
    </div>
  </div>

  <div class="login-form">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="login-form__header">
        <h2 class="login-form__title">Create a new account</h2>
        <p class="login-form__subtitle">It's quick and easy.</p>
      </div>
      <hr>

      <div class="login-form__form-group">
        <%= f.label :first_name, class: "login-form__label" %>
        <%= f.text_field :first_name, placeholder: "First Name", autofocus: true, class: "login-form__input", minlength: 2, maxlength: 30, required: true %>
        <%= render "devise/shared/error_messages", attribute_name: 'First name', attribute_errors: resource.errors[:first_name] %>
      </div>

      <div class="login-form__form-group">
        <%= f.label :last_name, class: "login-form__label" %>
        <%= f.text_field :last_name, placeholder: "Last Name", class: "login-form__input", minlength: 2, maxlength: 30, required: true %>
        <%= render "devise/shared/error_messages", attribute_name: 'Last name', attribute_errors: resource.errors[:last_name] %>
      </div>

      <div class="login-form__form-group">
        <%= f.label :email, class: "login-form__label" %>
        <%= f.email_field :email, placeholder: "Email address", class: "login-form__input", required: true %>
        <%= render "devise/shared/error_messages", attribute_name: 'Email', attribute_errors: resource.errors[:email] %>
      </div>

      <div class="login-form__form-group" data-controller="password-toggle">
        <%= f.label :password, class: "login-form__label" %>
        <%= f.password_field :password, placeholder: "Password", class: "login-form__input", data: { password_toggle_target: "passwordField" }, 
                                                                minlength: 6, pattern: ".{6,}", title: "Minimum 6 characters", required: true %>
        <i class="bi bi-eye-slash-fill login-form__form-group--eye-icon" data-password-toggle-target="togglePassword" data-action="click->password-toggle#toggle"></i>
        <%= render "devise/shared/error_messages", attribute_name: 'Password', attribute_errors: resource.errors[:password] %>
      </div>

      <div class="login-form__form-group" data-controller="password-toggle">
        <%= f.label :password_confirmation, class: "login-form__label" %>
        <%= f.password_field :password_confirmation, placeholder: "Password Confirmation", class: "login-form__input", 
                                                    data: { password_toggle_target: "passwordField" },  required: true %>
        <i class="bi bi-eye-slash-fill login-form__form-group--eye-icon" data-password-toggle-target="togglePassword" data-action="click->password-toggle#toggle"></i>
        <%= render "devise/shared/error_messages", attribute_name: '', attribute_errors: resource.errors[:password_confirmation] %>
      </div>
      
      <button class="login-form__button--sign-up button" type="submit">Create Account</button>
    <% end %>
    <%= render "devise/shared/links", omniauth_message: "Sign up with Facebook" %>
  </div>

  <%= render "shared/footer" %>
</div>

