<%= turbo_frame_tag comment do %>
  <div class="card mb-3">
    <div class="card-header d-flex justify-content-between align-items-center">
      <div class="comment-author">
        <strong><%= comment.user.username %></strong>
      </div>
      <div class="comment-date">
        <small class="text-muted"><%= time_ago_in_words(comment.created_at) %> ago</small>
      </div>
      <div class="post-buttons" data-user-id="<%= comment.user.id %>">
        <% if user == comment.user %>
          <%= link_to "Delete", post_comment_path(comment.post.id, comment.id), data: { turbo_method: :delete }, class: "btn btn-sm btn-outline-danger" %>
        <% end %>
      </div>
    </div>
    <div class="card-body">
      <p class="card-text"><%= comment.body %></p>
    </div>
  </div>
<% end %>