<%= turbo_frame_tag comment do %>
  <div class="card mb-3">
    <div class="card-header d-flex justify-content-between align-items-center">
      <div class="comment-author">
        <%= render "profiles/picture", profile: comment.user.profile, size: "25x25" %>
        <strong><%= link_to comment.user.username, comment.user, data: { turbo_frame: "_top" } %></strong>
      </div>
      <div class="comment-date">
        <small class="text-muted"><%= time_ago_in_words(comment.created_at) %> ago</small>
      </div>

      <%# Comment Like partial and stream %>
      <div>
        <%= turbo_stream_from comment, :likes %>
        <%= render 'likes/comment_like_button', comment: comment, post: comment.commentable, like_status: user.liked?(comment) %>
      </div>

      <div class="post-buttons" data-user-id="<%= comment.user.id %>">
        <% if user == comment.user %>
          <%= link_to "Delete", post_comment_path(comment.commentable.id, comment.id), data: { turbo_method: :delete }, class: "btn btn-sm btn-outline-danger" %>
        <% end %>
      </div>
    </div>
    <div class="card-body row">
      <p class="card-text col-9"><%= comment.body %></p>
      
      <%# Comment Likes Count partial %>
      <small class="text-muted col-3 d-flex float-end"><%= render 'likes/comment_likes_count', comment: comment %></small>
    </div>

  </div>
<% end %>

<div class="pl-2">
  <%= render comment.comments, user: user %>
</div>