<%# If commentable is not passed in, it will be nil and it will be removed using .compact %>
<% model = [local_assigns[:commentable], comment].compact %>
<% placeholder = local_assigns[:commentable].is_a?(Post) ? "Write a comment..." : "Reply to #{commentable.user.full_name}..." %>

<%= form_with model: model, id: nested_dom_id(commentable, comment), 
    data: { controller: 'reset-form', action: 'turbo:submit-end->reset-form#reset', reply_target: local_assigns[:reply_target] }, 
    class: local_assigns[:reply_class] do |f| %>

  <div class="modal__footer__comments-form--picture">
    <%= link_to user do %>
      <%= render "profiles/picture", profile: user.profile, size: "35x35" %>
    <% end %>
  </div>

  <%= f.text_area :body, class: "modal__footer__comments-form--textarea", placeholder: placeholder, maxlength: 255 %>
  <button type="submit" class="modal__footer__comments-form--button" title="post comment"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
<% end %>

<%= render "shared/form_errors", object: comment %>