<%= turbo_frame_tag "dropdown_notification_#{notification.recipient.id}_#{notification.id}" do %>
  <% noticed_obj = notification.to_notification %>

  <div class="navbar__notification-card <%= notification.unread? ? 'unread' : '' %>">
    <%= link_to noticed_obj.url, class: "navbar__notification-card__link", data: { turbo_frame: "_top" } do %>
      <div class="navbar__notification-card__picture">
        <%= render "profiles/picture", profile: noticed_obj.actor.profile, size: "65x65" %>
      </div>
      <div class="navbar__notification-card__body">
        <div class="navbar__notification-card__content">
          <% if noticed_obj.is_a?(FriendshipNotification) %>
            You and <span class="notification-actor-<%= notification.unread? ? 'unread' : '' %>"><%= noticed_obj.actor.full_name %></span> are now friends.
          <% else %>
            <span class="notification-actor-<%= notification.unread? ? 'unread' : '' %>"><%= noticed_obj.actor.full_name %></span>
            <%= noticed_obj.message %>.
          <% end %>
        </div>
        <div class="navbar__notification-card__date-container">
          <% if notification.unread? %>
            <div class="navbar__notification-card__date__unread"><%= time_ago_in_words(notification.created_at) %> ago</div>
            <i class="bi bi-circle-fill navbar__notification-card__unread"></i>
          <% else %>
            <div class="navbar__notification-card__date"><%= time_ago_in_words(notification.created_at) %> ago</div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
