<%= turbo_frame_tag "dropdown_notification_#{notification.recipient.id}_#{notification.id}" do %>
  <% noticed_obj = notification.to_notification %>

  <div class="card my-3 bg-light">
    <%= link_to noticed_obj.url, style: "text-decoration: none;", data: { turbo_frame: "_top" } do %>
      <div class="card-body">
        <div class="row">
          <div class="col-auto">
            <%= render "profiles/picture", profile: noticed_obj.actor.profile, size: "50x50" %>
          </div>
          <div class="col">
            <div class="fw-bold d-flex justify-content-between align-items-center">
              <%= noticed_obj.actor.username %>
              <% if notification.unread? %>
                <span class="badge bg-danger">new</span>
              <% end %>
            </div>
            <div><%= noticed_obj.message %></div>
            <div class="text-muted small"><%= time_ago_in_words(notification.created_at) %> ago</div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>