<div class="navbar__notifications-dropdown-menu" data-dropdown-toggle-target="dropdown">
  <div class="navbar__notifications-header">
    <h2 class="navbar__notifications-title">Notifications</h2>
    <%= link_to "Mark as read", request.original_url + "?#{request.query_parameters.merge(mark_as_read: true).to_param}", class: "navbar__notifications-header-link" %>
  </div>

  <%= turbo_stream_from "dropdown_notifications_#{user.id}" %>

  <div class="navbar__notifications-card-container">
    <%= turbo_frame_tag "dropdown_notifications_#{user.id}" do %>
      <%= render "shared/empty_state", message: "You don't have any notifications" %>
      <% all_notifications.each do |notification| %>
        <%= render "notifications/dropdown_notification", notification: notification %>
      <% end %>
    <% end %>
  </div>

  <div class="navbar__notifications-footer">
    <%= link_to "View All", notifications_path, class: "navbar__notifications-footer-link" %>
  </div>
</div>
