<%= turbo_frame_tag "new_notification_#{notification.recipient.id}_#{notification.id}" do %>
  <% noticed_obj = notification.to_notification %>

  <div class="flash-notification" data-controller="close-flash">
    <%= link_to noticed_obj.url, class: "flash-notification__content", data: { turbo_frame: "_top" } do %>
      <div class="flash-notification__picture">
        <%= render "profiles/picture", profile: noticed_obj.actor.profile, size: "45x45" %>
      </div>
      <div class="flash-notification__body">
        <div class="flash-notification__header">New <i class="bi bi-bell-fill"></i></div>
        <div class="flash-notification__message">
          <% if noticed_obj.is_a?(FriendshipNotification) %>
            You and <span class="notification-actor-<%= notification.unread? ? 'unread' : '' %>"><%= noticed_obj.actor.full_name %></span> are now friends.
          <% else %>
            <span class="notification-actor-<%= notification.unread? ? 'unread' : '' %>"><%= noticed_obj.actor.full_name %></span>
            <%= noticed_obj.message %>.
          <% end %>
        </div>
        <small class="flash-notification__date"><%= time_ago_in_words(notification.created_at) %> </small>
        <div class="flash-notification__border"></div>
      </div>
    <% end %>
    <button type="button" data-action="click->close-flash#close" data-notification-id="<%= notification.id %>" class="flash-notification--button"><i class="fa-regular fa-x"></i></button>
  </div>
<% end %>