<%= turbo_frame_tag "new_notification_#{notification.recipient.id}_#{notification.id}" do %>
  <% noticed_obj = notification.to_notification %>

  <div class="alert alert-primary alert-dismissible fade show" role="alert">
    <% if notification.unread? %>
      <span class="badge bg-primary me-2">New</span>
    <% end %>

    <div class="d-flex align-items-center">
      <div class="flex-grow-1 ms-3">
        <strong><%= noticed_obj.message %></strong>
        <br>
        <small class="text-muted"><%= time_ago_in_words(notification.created_at) %> ago</small>
      </div>
      <% if noticed_obj.is_a?(FriendRequestNotification) %>
        <%= turbo_stream_from [notification.recipient, noticed_obj.actor] %>
        <%= render "users/friend_request_form", logged_in_user: notification.recipient, user: noticed_obj.actor %>
      <% end %>
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>