<% noticed_obj = notification.to_notification %>

<div class="alert alert-primary alert-dismissible fade show" role="alert">
    <% if notification.unread? %>
      <span>(Unread)</span>
    <% end %>

  <%# Conditionally render the partial for the type of notification %>
  <% if noticed_obj.is_a?(CommentNotification) %>
    <%= render "notifications/comment_notification", noticed_obj: noticed_obj, context: :unread %>
  <% elsif noticed_obj.is_a?(PostLikeNotification) %>
    <%= render "notifications/post_like_notification", noticed_obj: noticed_obj, context: :unread %>
  <% elsif noticed_obj.is_a?(CommentLikeNotification) %>
    <%= render "notifications/comment_like_notification", noticed_obj: noticed_obj, context: :unread %>
  <% elsif noticed_obj.is_a?(FriendRequestNotification) %>
    <%= render "notifications/friend_request_notification", noticed_obj: noticed_obj, context: :unread %>
  <% elsif noticed_obj.is_a?(FriendshipNotification) %>
    <%= render "notifications/friendship_notification", noticed_obj: noticed_obj, context: :unread %>
  <% end %>

  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

