<div class="notifications-index-container">
  <div class="navbar__notifications-dropdown-menu" id="notifications-index">
    <div class="navbar__notifications-header">
      <h2 class="navbar__notifications-title">Notifications</h2>
      <%= link_to "Mark all as read", notifications_path(mark_as_read: true), class: "navbar__notifications-header-link" %>
    </div>

    <%= link_to "Clear all", destroy_all_notifications_path, method: :delete, class: "notifications-clear-all-button" %>

    <%= turbo_stream_from "index-notifications_#{current_user.id}" %>

    <div class="navbar__notifications-card-container">
      <%= turbo_frame_tag "index-notifications_#{current_user.id}" do %>
        <%= render "shared/empty_state", message: "You don't have any notifications" %>
        <% @notifications.each do |notification| %>
          <%= render "notifications/dropdown_notification", notification: notification %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
