<%= turbo_frame_tag user do %>
  <div class="profile-header__friend-request-buttons">
    <%# Friends check + Friend Remove Form %>
    <% if logged_in_user.is_friends_with?(user) %>
      <button type="button" class="profile-header__buttons--friends-indicator profile-header-button"><i class="bi bi-person-check-fill"></i> Friends</button>
      <%= render "friendships/delete_friend_form", friend: user, destroyer: logged_in_user %>
      
    <%# Cancel Friend Request form %>
    <% elsif logged_in_user.has_sent_friend_request_to?(user) %>
      <%= render "friend_requests/cancel_and_decline_request_form", sender: logged_in_user, receiver: user, action_name: 'Cancel' %>

    <%# Accept Friend Request & Decline Friend Request form %>
    <% elsif logged_in_user.has_received_friend_request_from?(user) %>
      <%= render "friendships/accept_request_form", friend: user %>
      <%= render "friend_requests/cancel_and_decline_request_form", sender: user, receiver: logged_in_user, action_name: 'Decline' %>

    <%# Send Friend Request form %>
    <% elsif !logged_in_user.has_sent_friend_request_to?(user) %>
      <%= render "friend_requests/send_request_form", sender: logged_in_user, receiver: user, friend_request: friend_request %>
    <% end %>
  </div>
<% end %>