<div class="profile">
  <div class="profile-header">
    <div class="profile-header__cover">
      <%= render "profiles/cover_photo", profile: @profile, size: "1200x415" %>
    </div>

    <div class="profile-header__content">
      <div class="profile-header__picture user-profile-picture">
        <%= render "profiles/picture", profile: @profile, size: "168x168" %>
      </div>
      
      <div class="profile-header__info">
        <h1 class="profile-header__name"><%= @user.full_name %></h1>
        <small class="profile-header__date">
          <i class="fa fa-calendar" aria-hidden="true"></i>
          <%= @user.created_at.strftime("%B %d, %Y") %>
        </small>
        <%# TODO %>
        <p class="profile-header__friends-count">100 friends</p>
        <div class="profile-header__actions">
          <div class="profile-header__friends">
            <%= link_to @profile.user do %>
              <%= render "profiles/picture", profile: @profile, size: "45x45" %>
            <% end %>
            <%= link_to @profile.user do %>
              <%= render "profiles/picture", profile: @profile, size: "45x45" %>
            <% end %>
            <%= link_to @profile.user do %>
              <%= render "profiles/picture", profile: @profile, size: "45x45" %>
            <% end %>
          </div>

          <div class="profile-header__buttons">
            <%= turbo_stream_from [current_user.id, @user.id] %>
            <% if @is_current_user %>
              <%= link_to edit_user_profile_path(@user, @profile), data: { turbo_frame: 'edit_profile_modal' }, 
                                                                          class: "profile-header__buttons--edit-profile profile-header-button" do %>
                <i class="bi bi-pencil-fill"></i>
                Edit Profile
              <% end %>
            <% else %>
              <%= render "users/friend_request_form", logged_in_user: Current.user, user: @user, friend_request: @friend_request %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="profile-header__navigation">
      <div class="profile-header__navigation-item">
        <%= link_to "Posts", "#", class: "profile-header__navigation--link" %>
        <div class="profile-header__navigation--link-border"></div>
      </div>
    </div>
  </div>
</div>
