<div class="profile">
  <div class="profile-header">
    <div class="profile-header__cover">
    	<button type="button" data-controller="picture-modal modal" data-action="click->picture-modal#showModal click->modal#open">
        <%= render "profiles/cover_photo", profile: @profile, size: "1200x415" %>
      </button>
    </div>

    <div class="profile-header__content">
      <div class="profile-header__picture user-profile-picture">
        <button type="button" data-controller="picture-modal modal" data-action="click->picture-modal#showModal click->modal#open">
          <%= render "profiles/picture", profile: @profile, size: "185x185" %>
        </button>
      </div>
      
      <div class="profile-header__info">
        <h1 class="profile-header__name"><%= @user.full_name %></h1>
        <%# TODO %>
        <small class="profile-header__friends-count"><i class="bi bi-people-fill"></i> <%= pluralize(@friends_count, "friend") %></small>
        <div class="profile-header__actions">
          <div class="profile-header__friends">
            <% @friends.each do |friend| %>
              <%= link_to friend do %>
                <%= render "profiles/picture", profile: friend.profile, size: "45x45" %>
              <% end %>
            <% end %>
          </div>

          <div class="profile-header__buttons">
            <%= turbo_stream_from [current_user.id, @user.id] %>
            <% if @is_current_user %>
              <%= link_to edit_user_profile_path(@user, @profile), data: { turbo_frame: 'edit_profile_modal' }, 
                                                                          class: "profile-header__buttons--edit-profile profile-header-button" do %>
                <i class="bi bi-pencil-fill"></i>
                Edit Profile
              <% end %>
            <% else %>
              <%= render "users/friend_request_form", logged_in_user: Current.user, user: @user, friend_request: @friend_request %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="profile-header__navigation">
      <div class="profile-header__navigation-item">
        <%= link_to "Posts", user_path(@user), class: "profile-header__navigation--link #{set_active_link(user_path(@user))}" %>
        <%# <div class="profile-header__navigation--link-border"></div> %>
        <%= set_active_border(user_path(@user)) %>
      </div>
      <div class="profile-header__navigation-item">
        <%= link_to "Friends", user_friends_path(@user), class: "profile-header__navigation--link #{set_active_link(user_friends_path(@user))}" %>
        <%# <div class="profile-header__navigation--link-border"></div> %>
        <%= set_active_border(user_friends_path(@user)) %>
      </div>
    </div>
  </div>

  <div class="profile-body">
    <% if current_page?(user_path(@user)) %>
      <div class="profile-body__content">
        <div class="profile-body__left">
          <%= render "profiles/profile_information", user: @user, profile: @profile %>
          <%= render "profiles/profile_friends" %>
        </div>

        <div class="profile-body__posts">
          <%= turbo_stream_from @user.id, "posts" %>
          <%= turbo_frame_tag "posts" do %>
            <%= render "shared/empty_state", message: "#{@user.full_name} doesn't have any posts." %>
            <% @posts.each do |post| %>
              <%= render "posts/post_interactions", post: post, user: Current.user %>
            <% end %>
          <% end %>
          <%= render "posts/next_page" %>
        </div>
      </div>
    <% else %>
      <%= render "friends" %>
    <% end %>
  </div>
</div>
