<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="text-center my-5">
        <%= render "profiles/picture", profile: @profile, size: "100x100" %>
        <h2 class="mt-3"><%= @user.username %></h2>
        <p class="text-muted">Date joined: <%= @user.created_at.strftime("%B %d, %Y") %></p>
        <%# Adding friend partial and turbo stream %>
        <%= turbo_stream_from [current_user.id, @user.id] %>
        
        <div class="d-flex justify-content-center align-items-center">
          <%= render "users/friend_request_form", logged_in_user: Current.user, user: @user, friend_request: @friend_request %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <%# Profile Information Partial %>
    <div class="col-4 mb-4">
      <%= render "profiles/profile_information", user: @user, profile: @profile %>
    </div>

    <%# Current User's Posts Stream %>
    <div class="col-xl-4 col-md-6">
      <h3 class="mb-4 text-center">Posts</h3>
        <%= turbo_stream_from @user.id, "posts" %>

        <%= turbo_frame_tag "posts" do %>
          <% @posts.each do |post| %>
            <%= render "posts/post_interactions", post: post, user: Current.user %>
          <% end %>
        <% end %>
    </div>
  </div>
</div>
