<div class="registration-container">
  <div class="logo">
    <div class="logo__brand">
      <%= image_tag("nexellia.png", class: "logo__icon",  alt:"Nexellia Logo") %> 
      <div class="logo__name">Nexellia</div>
    </div>
  </div>

  <div class="login-form" style="align-self: center;">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <div class="login-form__header">
        <h2 class="login-form__title">Change your password</h2>
      </div>

      <%= f.hidden_field :reset_password_token %>

      <div class="login-form__form-group"">
        <%= f.label :password, class: "login-form__label" %>
        <%= f.password_field :password, placeholder: "Password", class: "login-form__input", autofocus: true,
                                                                minlength: 6, pattern: ".{6,}", title: "Minimum 6 characters" %>
        <%= render "devise/shared/error_messages", attribute_name: 'Password', attribute_errors: resource.errors[:password] %>
      </div>

      <div class="login-form__form-group">
        <%= f.label :password_confirmation, class: "login-form__label" %>
        <%= f.password_field :password_confirmation, placeholder: "Password Confirmation", class: "login-form__input" %>
        <%= render "devise/shared/error_messages", attribute_name: '', attribute_errors: resource.errors[:password_confirmation] %>
      </div>

      <button class="login-form__button--login button" type="submit" style="font-size: 17px;">Change password</button>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>

  <%= render "shared/footer" %>
</div>
