<div class="registration-container">
  <div class="logo">
    <div class="logo__brand">
      <%= image_tag("nexellia.png", class: "logo__icon",  alt:"Nexellia Logo") %> 
      <div class="logo__name">Nexellia</div>
    </div>
  </div>

  <div class="login-form" style="align-self: center;">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <div class="login-form__header">
        <h2 class="login-form__title">Reset your password</h2>
      </div>

      <div class="logini-form__form-group">
        <%= f.label :email, class: "login-form__label" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "login-form__input", placeholder: "Enter your email address" %>
        <%= render "devise/shared/error_messages", attribute_name: 'Email', attribute_errors: resource.errors[:email] %>
      </div>

      <button class="login-form__button--login button" type="submit" style="font-size: 17px;">Reset password</button>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>

  <%= render "shared/footer" %>
</div>