<div class="login-container">
  <div class="logo">
    <div class="logo__brand">
      <img class="logo__icon" src="https://placehold.co/70x70" alt="placeholder image">
      <div class="logo__name">Odin-Facebook</div>
    </div>
    <div class="logo__slogan">Connect with the world, one post at a time</div>
  </div>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "login-form" }) do |f| %>
    <div class="login-form__form-group">
      <%= f.label :email, class: "login-form__label" %>
      <%= f.email_field :email, placeholder: "Email address", autofocus: true, class: "login-form__input", required: true %>
    </div>
    <div class="login-form__form-group">
      <%= f.label :password, class: "login-form__label" %>
      <%= f.password_field :password, placeholder: "Password", class: "login-form__input", minlength: 6, required: true %>
    </div>
    <button class="login-form__button--login button" type="submit">Log in</button>
    <%= render "devise/shared/links" %>
  <% end %>

  <%= render "shared/footer" %>
</div>


