
<% submit_text = action == "edit" ? "Save Post" : "Post" %>
<%= form_with model: post, data: { controller: 'reset-form image-preview', action: 'turbo:submit-end->reset-form#reset' }, local: true do |f| %>
  <div class="modal__body--user">
    <%= render "profiles/picture", profile: current_user.profile, size: "50x50" %>
    <%= current_user.full_name %>
  </div>

  <%= f.text_area :body, size: "70x4", class: "modal__body--textarea", placeholder: "What's on your mind, #{current_user.first_name}?" %>
  
  <% if action == "edit" && post.image.present? %>
    <div class="modal__preview-image-container">
      <%= image_tag post.image, data: { image_preview_target: "newPicture" }, class: "modal__preview-image" %>
    </div>
  <% else %> 
    <div class="modal__preview-image-container" data-image-preview-target="newPictureContainer">
      <%= image_tag "", data: { image_preview_target: "newPicture" }, class: "modal__preview-image" %>
    </div>
  <% end %>

  <div class="modal__body--file-upload">
    <label for="post_image" class="modal__body--custom-file-upload">
      Add to your post
      <i class="bi bi-images"></i>
    </label>
    <%= f.file_field :image, data: { action: "change->image-preview#preview" }, accept: "image/png, image/jpg, image/jpeg, image/gif" %>
  </div>
  
  <div class="modal__footer">
    <%= f.submit submit_text, class: "modal__footer--btn-primary" %>
  </div>
<% end %>