<%= turbo_frame_tag dom_id post do %>
  <div class="card mt-4" style="width: 600px;">
    <div class="card-header">
      <%= post.user.username %>
      <%= link_to "View Post", post, data: { turbo_frame: "_top" }  %>
      <%= link_to "Delete", post_path(post), data: { turbo_method: :delete } %>
      <%= link_to "Edit", edit_post_path(post)%>
    </div>
    <div class="card-body">
      <p class="card-text"><%= post.body %></p>
      <p class="card-text"><small class="text-muted">Created at: <%= time_ago_in_words(post.created_at) %> ago</small></p>
      <div class="card-header">Comments (<%= post.comments_count %>)</div>
      <ul class="list-group">
        <% post.comments.each do |comment| %>
          <li class="list-group-item">
            <span class="badge text-bg-primary"><%= comment.user.username %></span> <br>
            <div class="d-flex justify-content-between">
              <%= comment.body %>
              <small><%= time_ago_in_words(comment.created_at) %> ago</small>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>