<div class="post-card" style="<%= page == :show ? "box-shadow: none; width: 100% !important;" : "" %>">
  <div class="post-card__header">
    <div class="post-card__user">
      <div class="post-card__profile-picture post-profile-picture">
        <%= link_to post.user, data: { turbo_frame: "_top" } do %>
          <%= render "profiles/picture", profile: post.user.profile, size: "45x45" %>
        <% end %>
      </div>
      <div class="post-card__text">
        <%= link_to post.user.full_name, post.user, data: { turbo_frame: "_top" }, class: "post-card__user-link" %>
        <small class="post-card__date">
          <%= time_ago_in_words(post.created_at) %> &#x2022
          <% if user.is_friends_with?(post.user) %>
            <i class="bi bi-people-fill" title="Friend"></i>
          <% else %>
            <svg style="margin-bottom: -2px;" xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-globe-asia-australia" viewBox="0 0 16 16">
              <path d="m10.495 6.92 1.278-.619a.483.483 0 0 0 .126-.782c-.252-.244-.682-.139-.932.107-.23.226-.513.373-.816.53l-.102.054c-.338.178-.264.626.1.736a.476.476 0 0 0 .346-.027ZM7.741 9.808V9.78a.413.413 0 1 1 .783.183l-.22.443a.602.602 0 0 1-.12.167l-.193.185a.36.36 0 1 1-.5-.516l.112-.108a.453.453 0 0 0 .138-.326ZM5.672 12.5l.482.233A.386.386 0 1 0 6.32 12h-.416a.702.702 0 0 1-.419-.139l-.277-.206a.302.302 0 1 0-.298.52l.761.325Z"/>
              <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0ZM1.612 10.867l.756-1.288a1 1 0 0 1 1.545-.225l1.074 1.005a.986.986 0 0 0 1.36-.011l.038-.037a.882.882 0 0 0 .26-.755c-.075-.548.37-1.033.92-1.099.728-.086 1.587-.324 1.728-.957.086-.386-.114-.83-.361-1.2-.207-.312 0-.8.374-.8.123 0 .24-.055.318-.15l.393-.474c.196-.237.491-.368.797-.403.554-.064 1.407-.277 1.583-.973.098-.391-.192-.634-.484-.88-.254-.212-.51-.426-.515-.741a6.998 6.998 0 0 1 3.425 7.692 1.015 1.015 0 0 0-.087-.063l-.316-.204a1 1 0 0 0-.977-.06l-.169.082a1 1 0 0 1-.741.051l-1.021-.329A1 1 0 0 0 11.205 9h-.165a1 1 0 0 0-.945.674l-.172.499a1 1 0 0 1-.404.514l-.802.518a1 1 0 0 0-.458.84v.455a1 1 0 0 0 1 1h.257a1 1 0 0 1 .542.16l.762.49a.998.998 0 0 0 .283.126 7.001 7.001 0 0 1-9.49-3.409Z"/>
            </svg>
          <% end %>
        </small>
      </div>
    </div>

    <div class="post-card__dropdown" data-controller="dropdown-toggle">
      <% if post.is_edited? %>
        <i class="bi bi-pencil-square post-edited" title="Edited"></i>
      <% end %>
      <button class="post-card__dropdown--trigger" data-action="click->dropdown-toggle#toggle">
        <i class="bi bi-three-dots"></i>
      </button>
      <div class="post-card__dropdown-menu" data-dropdown-toggle-target="dropdown">
        <div class="post-buttons" data-user-id="<%= post.user.id %>">
          <% if user == post.user %>
            <%= link_to edit_post_path(post), data: { turbo_frame: 'modal' } do %>
              <i class="bi bi-pencil"></i>
              Edit Post
            <% end %>
            <%= link_to post_path(post, modal: true), data: { turbo_method: :delete } do %>
              <i class="bi bi-trash"></i>
              Delete Post
            <% end %>
          <% end %>
          <%= link_to post_path(post, modal: true), data: { turbo_frame: 'post_show_modal' } do %>
            <i class="bi bi-eye"></i>
            View Post
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="post-card__body">
    <% if page == :show %>
      <%= turbo_frame_tag post, 'show' do %>
        <%= render "posts/show_page_post_body", post: post, user: user %>
      <% end %>
    <% elsif page == :index %>
      <%= render "posts/post_body", post: post %>
    <% end %>
  </div>

  <div class="post-card__footer">
    <%= turbo_stream_from post, :likes %>

    <div class="post-card__footer--count">
      <%= render 'likes/post_likes_count', post: post, page: page %>
      <%= render 'comments/comment_count', post: post, page: page %>
    </div>
    <div class="post-card__footer--buttons">
      <%= render 'likes/post_like_button', post: post, page: page, like_status: user.liked?(post) %>
      <%= link_to post_path(post, modal: true), data: { turbo_frame: 'post_show_modal' }, class: "post-card__footer--comment" do %>
        <i class="fa-regular fa-comment"></i>
        Comment
      <% end %>
    </div>
  </div>
</div>