<%= turbo_frame_tag "post-interactions-#{post.id}" do %>
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-md-10">
        <div class="card mb-3">
          <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <h5 class="card-title">
                  <span class="post-profile-picture">
                    <%= render "profiles/picture", profile: post.user.profile, size: "50x50" %>
                  </span>
                  <%= link_to post.user.username, post.user, data: { turbo_frame: "_top" } %>
                </h5>
                <p class="card-text">
                  <small class="text-muted"><%= time_ago_in_words(post.created_at) %> ago</small>
                </p>
              </div>
              <div class="btn-group">
                <%= link_to "View Post", post, data: { turbo_frame: "_top" }, class: "btn btn-sm btn-outline-primary"  %>
                <div class="post-buttons" data-user-id="<%= post.user.id %>">
                  <% if user == post.user %>
                    <%= link_to "Edit", edit_post_path(post), data: { turbo_frame: 'modal' }, class: "btn btn-sm btn-outline-secondary" %>
                    <%= link_to "Delete", post_path(post), data: { turbo_method: :delete }, class: "btn btn-sm btn-outline-danger" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          
          <div class="card-body">
            <%# Post body partial %>
            <%= render "posts/post_body", post: post %>
            <div class="d-flex justify-content-between align-iterms-center">
              <%# Post Like Count partial and stream %>
              <div>
                <%= turbo_stream_from post, :likes %>
                <small class="text-muted"><%= render 'likes/post_likes_count', post: post %></small>
                <%= render 'likes/post_like_button', post: post, like_status: user.liked?(post) %>
              </div>
            </div>
          </div>

          <%# Comments partial and stream %>
          <%= turbo_stream_from post, :comments %>
          <div class="card-footer">
            <h6 class="card-subtitle mb-4 mt-2"><%= render 'comments/comment_count', post: post %></h6>
            <div class="comments">

              <%= turbo_frame_tag post, "comments" do %>
                <%= render post.comments.with_user_and_profile_includes, user: user %>
              <% end %>
              
              <div class="comment-form">
                <%= turbo_frame_tag id="new_comment", src: new_post_comment_path(post.id) %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>