<%= turbo_frame_tag "show-page-post-interactions-#{post.id}" do %>
  <div class="modal__body" style="padding: 0 !important;">

    <%= render "posts/post_card", user: user, post: post, page: :show %>

    <div class="comments">
      <%= turbo_stream_from post, :comments %>
      <%= turbo_frame_tag post, "comments" do %>
        <%= render "shared/empty_state", message: "Be the first person to comment on this post." %>
        <%= render partial: "comments/comment_replies", 
                          collection: post.comments.includes(:parent).where(parent_id: nil).load_user_and_profile, 
                          locals: { user: user }, as: :comment %>
      <% end %>
    </div>
  </div>

  <div class="modal__footer">
    <div class="modal__footer__comments-form-container">
      <%= render partial: "comments/form", locals: { comment: Comment.new, commentable: post, user: Current.user } %>
    </div>
  </div>
<% end %>