<%= turbo_frame_tag "show-page-post-interactions-#{post.id}" do %>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <h5 class="card-title">
                  <%= render "profiles/picture", profile: post.user.profile, size: "100x100" %>
                  <%= link_to post.user.username, post.user, data: { turbo_frame: "_top" } %>
                </h5>
                <p class="card-text">
                  <small class="text-muted"><%= time_ago_in_words(post.created_at) %> ago</small>
                </p>
              </div>
              <div class="btn-group">
                <div class="post-buttons" data-user-id="<%= post.user.id %>">
                  <% if user == post.user %>
                    <%= link_to "Edit", edit_post_path(post), data: { turbo_frame: 'modal' }, class: "btn btn-sm btn-outline-secondary" %>
                    <%= link_to "Delete", post_path(post), data: { turbo_method: :delete, turbo_frame: "_top" }, class: "btn btn-sm btn-outline-danger" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          
          <div class="card-body">
            <%# Post body partial %>
            <p class="card-text"> 
              <%= turbo_frame_tag post do %>
                <%= render "posts/show_page_post_body", post: post, user: user %>
              <% end %>
            </p>
            <hr>
            <%# Post Like partial and stream %>
            <div class="">
              <%= turbo_stream_from post, :likes %>

              <%= render 'post_likes/post_like', post: post %>
              <%= render 'post_likes/button', post: post, like_status: user.liked?(post) %>
            </div>
            <hr>

            <%# Comment partial, stream & form %>
            <h5 class="card-title"><%= render 'comments/comment_count', post: post %></h5>
            <div class="comments">
              <%= turbo_stream_from post, :comments %>

              <%= turbo_frame_tag post, "comments" do %>
                <%= render post.comments.with_user_and_profile_includes, user: user %>
              <% end %>
            </div>
            <hr>
            <div>
              <%= turbo_frame_tag id="new_comment", src: new_post_comment_path(post.id) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>