<% if request.headers['Turbo-Frame'].present? %>
  <%= turbo_frame_tag 'modal' do %>
    <div class="modal__header">
      Edit Post
      <button class="modal__header--close" data-action="click->modal#close"><i class="bi bi-x"></i></button>
      <%= render "shared/form_errors", object: @post %>
    </div>
    <div class="modal__body">
      <%= render "posts/form", post: @post, action: "edit" %>
    </div>
  <% end %>
<% else %>
  <div class="non-turbo-frame">
    <%= turbo_frame_tag 'modal' do %>
      <div class="modal__header">
        Edit Post
        <button class="modal__header--close" data-action="click->modal#close"><i class="bi bi-x"></i></button>
        <%= render "shared/form_errors", object: @post %>
      </div>
      <div class="modal__body">
        <%= render "posts/form", post: @post, action: "edit" %>
      </div>
    <% end %>
  </div>
<% end %>