<div class="post-index-container">
  <div class="post-index-sidebar">
    <ul class="post-index-sidebar__nav">
      <li class="post-index-sidebar__item">
        <a href="<%= user_path(current_user) %>" class="post-index-sidebar__link">
          <%= render "profiles/picture", profile: current_user.profile, size: "40x40" %>
          <span><%= current_user.full_name %></span>
        </a>
      </li>
      <li class="post-index-sidebar__item">
        <a href="<%= users_path %>" class="post-index-sidebar__link">
          <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
            <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
          </svg>
          <span>Friends</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="post-index-posts">
    <%= turbo_stream_from current_user.id, "posts" %>
    <% @user_friends.each do |friend| %>
      <%= turbo_stream_from friend.id, "posts" %>
    <% end %>

    <div class="post-index-posts__form--trigger">
      <div>
        <%= link_to current_user do %> <%= render "profiles/picture", profile: current_user.profile, size: "45x45" %> <% end %>
        <%= link_to "What's on your mind, #{current_user.first_name}?", new_post_path, data: { turbo_frame: "modal" } %>
      </div>
      <%= link_to new_post_path, class: "post-index-posts__form--image-trigger", data: { turbo_frame: "modal" } do %>
        <i class="bi bi-images"></i> Photo
      <% end %>
    </div>

    <div class="post-index-posts__cards-container">
      <%= turbo_frame_tag "posts" do %>
        <%= render "posts/empty_state" %>
        <% @posts.each do |post| %>
          <%= render "posts/post_interactions", post: post, user: Current.user %>
        <% end %>
      <% end %>
      <%= render "posts/next_page" %>
    </div>
  </div>

  <div class="post-index-contacts">
    <h3 class="post-index-contacts__header">Contacts</h3>
    <ul class="post-index-contacts__list" id="online_friends">
      <% @user_friends.each do |friend| %>
        <%= render "users/user", user: friend %>
      <% end %>
    </ul>
  </div>
</div>