<div class="container p-0 d-flex flex-column align-items-center mb-5">
  <div class="row">
    <div class="col-3">
      <h2>Sidebar</h2>
    </div>
    <div class="col-6">
      <h2>User Posts</h2>
      
      <%= turbo_stream_from current_user.id, "posts" %>
      <% @user_friends.each do |friend| %>
        <%= turbo_stream_from friend.id, "posts" %>
      <% end %>
      
      <%= turbo_frame_tag id="new_post", src: new_post_path %>

      <%= turbo_frame_tag "posts" do %>
        <%= render "posts/empty_state" %>
        <% @posts.each do |post| %>
          <%= render "posts/post_interactions", post: post, user: Current.user %>
        <% end %>
      <% end %>
      <%= render "posts/next_page" %>
    </div>
    <div class="col-3">
      <h2>Contacts</h2>
      <ul class="list-group" id="online_friends">
        <% @user_friends.each do |friend| %>
          <%= render "users/user", user: friend %>
        <% end %>
      </ul>
    </div>
  </div>
</div>