<div class="post-index-container">
  <%= render "layouts/sidebar" %>

  <div class="post-index-posts">
    <%= turbo_stream_from current_user.id, "posts" %>
    <% @user_friends.each do |friend| %>
      <%= turbo_stream_from friend.id, "posts" %>
    <% end %>

    <div class="post-index-posts__form--trigger">
      <div>
        <%= link_to current_user do %> <%= render "profiles/picture", profile: current_user.profile, size: "45x45" %> <% end %>
        <%= link_to "What's on your mind, #{current_user.first_name}?", new_post_path, data: { turbo_frame: "modal" } %>
      </div>
      <%= link_to new_post_path, class: "post-index-posts__form--image-trigger", data: { turbo_frame: "modal" } do %>
        <i class="bi bi-images"></i> Photo
      <% end %>
    </div>

    <div class="post-index-posts__cards-container">
      <%= turbo_frame_tag "posts" do %>
        <%= render "posts/empty_state" %>
        <% @posts.each do |post| %>
          <%= render "posts/post_interactions", post: post, user: Current.user %>
        <% end %>
      <% end %>
      <%= render "posts/next_page" %>
    </div>
  </div>

  <div class="post-index-contacts">
    <h3 class="post-index-contacts__header">Contacts</h3>
    <ul class="post-index-contacts__list" id="online_friends">
      <% @user_friends.each do |friend| %>
        <%= render "users/user", user: friend %>
      <% end %>
    </ul>
  </div>
</div>