<% if params[:modal].present? %>
  <%= turbo_frame_tag 'post_show_modal' do %>
    <div class="modal__header">
      <%= @post.user.full_name %>'s Post
      <button class="modal__header--close" data-action="click->modal#close"><i class="bi bi-x"></i></button>
    </div>
      <%= turbo_stream_from @post %>
      <%# turbo_frame_tag "post_deleted" %>
      <%= render partial: "posts/show_page_post_interactions", locals: { post: @post, user: Current.user } %>
    </div>
  <% end %>
<% else %>
  <div id="post-show-page-no-modal">
    <%= turbo_stream_from @post %>
    <%= turbo_frame_tag "post_deleted" %>
    <%= render partial: "posts/show_page_post_interactions", locals: { post: @post, user: Current.user } %>
  </div>
<% end %>