<div class="navbar-container">
  <nav class="navbar">
    <div class="navbar__brand">
      <img class="navbar__logo" src="https://placehold.co/50x50" alt="placeholder image">
      <%= link_to "EchoVerse", posts_path, class: "navbar__title" %>
    </div>

    <ul class="navbar__nav">
      <li class="navbar__item">
        <%= link_to posts_path, class: "navbar__link #{ is_current_path?(posts_path) ? set_active_link(posts_path) : set_active_link(root_path)}", title: "Home" do %>
          <i class="bi bi-house-door<%= is_current_path?(posts_path) ? set_fill_icon(posts_path) : set_fill_icon(root_path) %>"></i>
        <% end %>
        <%= is_current_path?(posts_path) ? set_active_border(posts_path) : set_active_border(root_path) %>
      </li>
      <li class="navbar__item">
        <%= link_to users_path, class: "navbar__link #{set_active_link(users_path)}", title: "Friends" do %>
          <i class="bi bi-people<%= set_fill_icon(users_path) %>"></i>
        <% end %>
        <%= set_active_border(users_path) %>
      </li>
    </ul>

    <div class="navbar__user-menus">
      <div class="navbar__notifications-dropdown" title="Notifications" data-controller="dropdown-toggle">
        <%= render "layouts/notifications_dropdown_menu", all_notifications: all_notifications, unread_notifications: unread_notifications, user: current_user %>
      </div>
      <div class="navbar__user-dropdown" title="Account" data-controller="dropdown-toggle">
        <%= render "layouts/user_dropdown_menu" %>
      </div>
    </div>
  </nav>
</div>