<div class="navbar-container">
  <nav class="navbar">
    <div class="navbar__brand">
      <img class="navbar__logo" src="https://placehold.co/50x50" alt="placeholder image">
      <%= link_to "Odin-Facebook", posts_path, class: "navbar__title" %>
    </div>

    <ul class="navbar__nav">
      <li class="navbar__item">
        <%= link_to posts_path, class: "navbar__link", title: "Home" do %>
          <i class="bi bi-house-door"></i>
        <% end %>
      </li>
      <li class="navbar__item">
        <%= link_to "#", class: "navbar__link", title: "Friends" do %>
          <i class="bi bi-people"></i>
        <% end %>
      </li>
      <li class="navbar__item">
        <%= link_to users_path, class: "navbar__link", title: "Explore" do %>
          <i class="bi bi-compass"></i>
        <% end %>
      </li>
    </ul>

    <div class="navbar__user-menus">
      <div class="navbar__notifications-dropdown" title="Notifications" data-controller="dropdown-toggle">
        <%= render "layouts/notifications_dropdown_menu", all_notifications: all_notifications, unread_notifications: unread_notifications, user: current_user %>
      </div>
      <div class="navbar__user-dropdown" title="Account" data-controller="dropdown-toggle">
        <%= render "layouts/user_dropdown_menu" %>
      </div>
    </div>
  </nav>
</div>

<!--- 
<%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete }, class: "btn btn-outline-primary" %>
-->