<div class="post-index-sidebar">
  <ul class="post-index-sidebar__nav">
    <li class="post-index-sidebar__item">
      <a href="<%= user_path(current_user) %>" class="post-index-sidebar__link">
        <%= render "profiles/picture", profile: current_user.profile, size: "40x40" %>
        <span><%= current_user.full_name %></span>
      </a>
    </li>
    <li class="post-index-sidebar__item">
      <a href="<%= users_path %>" class="post-index-sidebar__link">
        <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
          <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
        </svg>
        <span>Friends</span>
      </a>
    </li>
  </ul>

  <div class="suggestions">
    <div class="suggestions__header">
      <h3>Suggestions</h3>
      <%= link_to "See all", users_path, class: "suggestions__header--link" %>
    </div>
    <% @suggestions&.each do |user| %>
      <%= turbo_stream_from [current_user.id, user.id] %>
      <div class="suggestions__card">
        <a href="<%= user_path(user) %>" class="suggestions__user">
          <div class="suggestions__picture">
            <%= render "profiles/picture", profile: user.profile, size: "40x40" %>
          </div>
          <div class="suggestions__name"><%= user.full_name %></div>
        </a>
        <div class="suggestions__friend-request">
          <%= render "users/friend_request_form", logged_in_user: Current.user, user: user, friend_request: FriendRequest.new %>
        </div>
      </div>
    <% end %>
  </div>
</div>